.d3-component svg {
  background: #ddd;
  max-height: 300px;
}
.vg-tooltip table {
  margin-bottom: 0px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}
.idyll-scroll .idyll-text-container {
  max-width: 50vw;
}
.idyll-scroll-text .idyll-step {
  max-width: 45vw;
}
.d3-component-container {
  height: 20vw;
  width: 20vw;
  margin-left: 72vw;
}
#idyll-scroll-1 > .idyll-scroll-graphic {
  background: #33333f;
}
@media only screen and (max-width: 600px) {
  .idyll-scroll .idyll-text-container {
    max-width: 57vw;
  }
  .idyll-scroll-text .idyll-step {
    max-width: 57vw;
  }
  .d3-component-container {
    height: 31vw;
    width: 31vw;
    margin-left: 65vw;
  }
}

iframe {
    margin: 15px 0px;
}

.idyll-checkbox {
    margin: 0px 10px 0px 0px;
}

.fullWidth {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.fullWidth iframe {
    width: 70%;
}

.appleSpike .annotated-text {
    background: #ffb347;
    border-radius: 2px;
}

.appleSpike .annotation-text {
    padding: 10px;
    line-height: 1.3;
}

.checkbox-reminder{
    text-decoration: underline;
}

.idyll-text-container h1:first-child {
    text-shadow: 2px 2px 20px rgba(190,190,150,0.7);
    margin-bottom: 0px;
    font-style: italic;
}

#--warren-buffet {
    text-align: right;
    margin-top: 0px;
}